@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
    --primary: #57b3bd;
    --secondary: #ff694e;
    --background: #f2f2f5;
    --button: #3399fd;
    --text: #272f3a;
    --inactive: #a4a9b4;
    --stroke: #E6E9F0;
}

@font-face {
    font-family: Aeonik;
    src: url(assets/fonts/Aeonik-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: Aeonik;
    src: url(assets/fonts/Aeonik-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Aeonik;
    src: url(assets/fonts/Aeonik-Light.ttf);
    font-weight: 200;
}

html {
    font-size: 8px;
}

* {
    margin: 0;
    padding: 0;
}

/* Global Styles */

h1 {
    color: var(--text);
    text-align: center;
    font-family: Aeonik;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 4rem;
    letter-spacing: 0.3px;
}

h2 {
    color: var(--Text, #272F3A);
    text-align: center;
    font-family: Aeonik;
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.2rem;
    letter-spacing: 0.28px;
    text-align: left;
}

h3 {
    color: #000;
    text-align: center;
    font-family: Aeonik;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 4rem;
    letter-spacing: 0.4px;
    text-align: left;
}

p {
    color: var(--text);
    text-align: center;
    font-family: "Nunito Sans";
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.6rem;
    letter-spacing: 0.18px;
}

#body-center {
    background: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

a {
    /* Style */
    border-radius: 1.2rem;
    background-color: var(--button);
    box-shadow: 0px 0.8rem 1.6rem 0px rgba(51, 153, 253, 0.32);
    cursor: pointer;

    /* Layout */
    width: fit-content;
    padding: 1.8rem 5rem;

    /* Typography */
    color: #fff;
    font-family: Aeonik;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2rem;
    text-decoration: none;
    letter-spacing: 0.18px;
}

.secondary-btn {
    background: unset;
    box-shadow: unset;
    border: 0.3rem solid var(--button);
    color: var(--button);
}

input[type="text"] {
    /* Layout */
    display: flex;
    padding: 1.5rem;
    padding-left: 2rem;
    text-align: left;
    align-items: center;
    width: -webkit-fill-available;

    /* Style */
    border-radius: 1.2rem;
    border: 0.1rem solid #EAEAEC;
    background: #FFF;

    /* Typography */
    color: var(--Inactive, #A4A9B4);
    font-family: Aeonik;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.4rem;
    letter-spacing: 0.16px;
}

input[type="button"],
input[type="submit"] {
    /* Layout */
    display: flex;
    min-width: 15.8rem;
    padding: 1.8rem 5rem;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;

    /* Style */
    cursor: pointer;
    border: none;
    border-radius: 1.2rem;
    background: var(--button);
    box-shadow: 0px 0px 0.8rem 0px rgba(51, 153, 253, 0.24);

    /* Typography */
    color: var(--Text-White, #FFF);
    text-align: center;
    font-family: Aeonik;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2rem;
    letter-spacing: 0.18px;
}

/* Welcome Page */

#welcome-content {
    max-width: 90rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding: 5rem;
}

#wc_text {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

#wc_text h1 {
    text-wrap: balance;
}

#wc_text-paragraphs {
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
}

#wc_ctas {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
}

#wc_ctas_keypress-indicator {
    color: #000;
    text-align: center;
    font-family: "Nunito Sans";
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.2rem;
    letter-spacing: 0.14px;
    display: flex;
    align-items: center;
}

#wc_ctas_keypress-indicator img {
    margin-left: 1rem;
    margin-right: 0.6rem;
}

/* About You */

#about-you-content {
    display: flex;
    width: 51rem;
    padding: 3rem;
    padding-bottom: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

#ayc_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

#ayc_form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    align-self: stretch;
}

/* Project Details */

#project-details-content {
    max-width: 66.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding: 5rem;
}

/* Checklist Results */

#two-column-dashboard {
    height: 100vh;
    display: flex;
    flex-direction: row;
    background: var(--background);
}

#sidebar {
    width: 50rem;
    background: white;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.s_logo {
    padding-bottom: 2rem;
    border-bottom: solid 0.1rem rgba(217, 217, 217, 0.30);
}

.s_overview h2 {
    margin-bottom: 3rem;
}

#overview-stats {
    border-radius: 1.2rem;
    background: var(--background);
    display: flex;
    padding: 3rem;
    flex-direction: column;
    gap: 1.5rem;
}

.os_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 1.2rem;
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.095);
}

.os_row-title {
    color: #000;
    text-align: center;
    font-family: Aeonik;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.2rem;
    letter-spacing: 0.22px;
}

.os_row-num {
    color: var(--button);
    text-align: center;
    font-family: Aeonik;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.2rem;
    letter-spacing: 0.22px;
}

.s_categories h2 {
    margin-bottom: 3rem;
}

#categories-table {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.ct_item {
    /* Layout */
    padding: 0 0 1rem 0;
    display: flex;
    justify-content: space-between;
    width: -webkit-fill-available;

    /* Style */
    background: unset;
    box-shadow: unset;
    border-bottom: 0.1rem solid rgba(217, 217, 217, 0.40);

    /* Typography */
    color: #655E5E;
    text-align: center;
    font-family: Aeonik;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.2rem;
    letter-spacing: 0.2px;
}

.s_sign-in {
    border-radius: 1.2rem;
    background: rgba(0, 0, 0, 0.05);
    display: flex;
    padding: 1.8rem 2rem;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    box-shadow: unset;
    width: unset;

    /* Typography */
    color: #000;
    text-align: center;
    font-family: "Open Sans";
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.2rem;
    letter-spacing: 0.18px;
}

#main-checklist {
    flex: 1;
    padding: 10rem 20rem;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 8rem;
}

.checklist-category {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.checklist-category p {
    color: #000;
    font-family: Aeonik;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 4rem;
    text-align: left;
    letter-spacing: 0.22px;
}

/* Project Details Multi Page Logic */

.form-nav-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.step {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.step {
    display: none;
}

.active {
    display: flex;
}

.step-text h1 {
    margin-bottom: 2rem;
}

.progress-bar {
    height: 1.6rem;
    border-radius: 2rem;
    background: white;
}

.pb_progress {
    height: 1.6rem;
    border-radius: 1.6rem;
    background: var(--button);
    width: 6.65rem;
    box-shadow: 0px 0px 0.8rem 0px rgba(51, 153, 253, 0.24);
}

/* Field Layouts */

fieldset {
    border: none;
}

.qg_item input[type="radio"],
.qc_item input[type="radio"],
.qg_item input[type="checkbox"] {
    /* Hide the radio or checkbox */
    display: none;
}

.question-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
    text-align: center;
}

.qg_item {
    /* Layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
    padding: 2.5rem 1.5rem;

    /* Style */
    background: white;
    border-radius: 1.2rem;
    border: 0.1rem solid var(--stroke);
    cursor: pointer;
}

.qg_item img {
    height: 6rem;
    margin-bottom: 0.9rem;
}

.qg_title {
    color: #000;
    text-align: center;
    font-family: Aeonik;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.4rem;
    letter-spacing: 0.16px;
}

.qg_subtitle {
    color: var(--inactive);
    text-align: center;
    font-family: Aeonik;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2rem;
    letter-spacing: 0.14px;
}

input[type="radio"]:checked~.qg_title,
input[type="radio"]:hover~.qg_title {
    /* Set title blue on click */
    color: var(--button);
}

.question-row {
    display: flex;
    flex-direction: column;
    gap: 2.2rem;
}

.qr_item {
    background: white;
    border: 0.1rem solid #E6E9F0;
    border-radius: 1.2rem;
    padding: 1.8rem 1.6rem;
    text-align: left;
    cursor: pointer;
    /* Typography */
    color: var(--text);
    font-family: Aeonik;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.8rem;
    letter-spacing: 0.2px;
}

.qr_item input {
    margin-right: 1.5rem;
}

.question-column {
    display: flex;
    flex-direction: row;
    gap: 2.2rem;
    justify-content: center;
}

.qc_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 1.2rem;
    border: 0.1rem solid #E6E9F0;
    background: white;
    overflow: hidden;
    cursor: pointer;
    width: 30rem;
}

.qc_item img {
    height: 17.5rem;
    width: 30rem;
    object-fit: cover;
}

.qc_item div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1.8rem 2rem;
    align-items: flex-start;
    /* Typography */
    color: var(--text);
    font-family: Aeonik;
    font-size: 2rem;
    font-style: normal;
    line-height: 2.8rem;
    letter-spacing: 0.2px;
    text-wrap: wrap;
}

.qc_item p {
    color: var(--Inactive, #A4A9B4);
    font-family: Aeonik;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.8rem;
    letter-spacing: 0.2px;
    text-align: left;
}

input[type="radio"]:checked~div,
input[type="radio"]:hover~div {
    /* Set title blue on click */
    color: var(--button);
}

#step-7 .qg_item {
    padding: 3.8rem 1.4rem;
}

.question-flex-grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.question-flex-grid .qg_item {
    width: 17.5rem;
    /* Typography */
    color: #000;
    text-align: center;
    font-family: Aeonik;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.4rem;
    letter-spacing: 0.16px;
}

.blue-border {
    border: 0.2rem solid var(--button);
}

/* Holding Screen Animation */


@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.fadeInUp {
    animation-name: fadeInUp;
    animation-duration: 1.2s;
    /* Adjust the duration as needed */
}

#holding-screen-text {
    color: #909090;
    text-align: center;
    font-family: Aeonik;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 4rem;
    letter-spacing: 0.22px;
}

/* Checklist */

.accordion-item {
    border-radius: 1.2rem;
    background: #FFF;
}

.accordion-header {
    cursor: pointer;
    display: flex;
    
    padding: 1.5rem 2.5rem;
    justify-content: space-between;
    align-items: center;
    /* Typography */
    color: #000;
    font-family: Aeonik;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3rem;
    letter-spacing: 0.22px;
}

.accordion-content {
    padding: 1rem 3.5rem 2.5rem 3.5rem;
    display: none;
    color: rgba(0, 0, 0, 0.70);
    font-family: Aeonik;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3rem;
    letter-spacing: 0.18px;
}

.custom-checkbox {
    min-width: 2.4rem;
    min-height: 2.4rem;
    border: 0.2rem solid #a4a9b4;
    border-radius: 0.5rem;
    cursor: pointer;
}

.custom-checkbox.checked {
    border-color: #3399fd;
    background-color: #3399fd;
}

.custom-checkbox.checked::after {
    content: "\2713";
    display: block;
    font-size: 1.8rem;
    color: #fff;
    text-align: center;
    line-height: 2.6rem;
}

.accordion-header .group {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    align-items: center;
    justify-content: center;
}

/* Add this CSS to rotate the chevron icon when the 'flipped' class is present */
.accordion-header img.flipped {
    transform: rotate(180deg);
    transition: transform 0.3s ease; /* Add a transition for smooth rotation */
}

/* --------------------- */
/*  Mobile Optimisation  */
/* --------------------- */

@media only screen and (max-width: 600px) {

    /* Global Styles */

    h1 {
        font-size: 2.8rem;
        line-height: 3.4rem;
    }

    h2 {
        font-size: 2.2rem;
    }

    h3 {
        font-size: 2.4rem;
        line-height: 3rem;
    }

    body {
        height: 90vh;
    }

    /* Welcome Page */

    #welcome-content {
        padding: 1rem 3rem;
    }

    #wc_ctas_keypress-indicator {
        display: none;
    }

    /* About You Page */

    #about-you-content {
        width: unset;
    }

    #ayc_form {
        display: flex;
        flex-direction: column;
        align-self: center;
    }

    #ayc_form input {
        width: 30rem;
    }

    /* Project Details Page */

    #body-center {
        justify-content: unset
    }

    .step h1 {
        font-size: 2.4rem;
    }

    .step p {
        font-size: 1.6rem;
    }

    .question-grid {
        display: flex;
        flex-direction: column;
    }

    .qg_item {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 2rem;
        padding: 1.2rem 2rem;
    }

    .qg_item img {
        height: unset;
        width: 5rem;
        margin: 0;
    }

    .qg_title {
        font-size: 1.4rem;
        line-height: 1.4rem;
    }

    .qg_subtitle {
        font-size: 1.4rem;
    }

    .qr_item input {
        margin-right: 0.5rem;
    }

    .qr_item {
        font-size: 1.4rem;
        line-height: 2rem;
        padding: 1.4rem 1.6rem;
    }

    .question-column {
        flex-direction: column;
        align-items: center;
    }

    .qc_item {
        flex-direction: row;
        width: 32.5rem,;
        justify-content: flex-start;
    }

    .qc_item img {
        height: unset;
        width: 10rem;
        object-fit: cover;
    }

    label[for="pd_yes"] {
        height: 10rem;
    }

    .question-flex-grid {
        flex-direction: column;
    }

    #step-7 .qg_item {
        padding: 0.8rem 1.4rem;
        width: 30rem;
    }
    
    #step-7 .qg_item img {
        width: 4rem;
    }

    /* Holding Screen */

    .mobile-body-center {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center !important;
        height: 100vh !important;
        margin-top: -5rem;
    }

    #holding-screen-text {
        font-size: 1.4rem;
    }

    /* Checklist Page */

    #two-column-dashboard {
        flex-direction: column;
        gap: 2re,;
        height: unset;
    }

    #sidebar {
        width: unset;
        padding: 2rem;
        display: flex;
        gap: 2rem;
    }

    .s_logo {
        padding-bottom: 1rem;
    }

    .s_logo img {
        width: 15rem;
    }

    #user-greeting {
        margin-bottom: 1.5rem;
    }

    #overview-stats {
        padding: 1.5rem;
        gap: 1rem;
    }

    #overview-stats p {
        font-size: 1.6rem;
    }

    #main-checklist {
        padding: 3rem;
        gap: 5rem;
    }

    #main-checklist p {
        font-size: 1.8rem;
        line-height: 2.4rem;
        margin-bottom: 1rem;
    }

    .checklist-category {
        gap: 1.5rem;
    }
    
    .accordion-header .group {
        gap: 1.5rem;
        margin-right: 0.5rem;
    }

    .accordion-header .group p {
        font-size: 1.4rem;
        line-height: 1.8rem;
        color: #000;
        font-family: Aeonik;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 0.22px;
        width: fit-content !important;
        margin-bottom: unset !important;
    }

    .accordion-content {
        font-size: 1.6rem;
        line-height: 2.4rem;
    }



}