@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
    --primary: #57b3bd;
    --secondary: #ff694e;
    --background: #f2f2f5;
    --button: #3399fd;
    --text: #272f3a;
    --inactive: #a4a9b4;
    --stroke: #E6E9F0;
}

@font-face {
    font-family: Aeonik;
    src: url(assets/fonts/Aeonik-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: Aeonik;
    src: url(assets/fonts/Aeonik-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Aeonik;
    src: url(assets/fonts/Aeonik-Light.ttf);
    font-weight: 200;
}


* {
    margin: 0;
    padding: 0;
}

/* Global Styles */

h1 {
    color: var(--text);
    text-align: center;
    font-family: Aeonik;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.3px;
}

p {
    color: var(--Text, #272F3A);
    text-align: center;
    font-family: "Nunito Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.18px;
}

body {
    background: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

a {
    /* Style */
    border-radius: 12px;
    background-color: var(--button);
    box-shadow: 0px 8px 16px 0px rgba(51, 153, 253, 0.32);

    /* Layout */
    width: fit-content;
    padding: 18px 50px;

    /* Typography */
    color: #fff;
    font-family: Aeonik;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    text-decoration: none;
    letter-spacing: 0.18px;
}

input[type="text"] {
    /* Layout */
    display: flex;
    padding: 15px;
    padding-left: 20px;
    text-align: left;
    align-items: center;
    width: -webkit-fill-available;
    
    /* Style */
    border-radius: 12px;
    border: 1px solid #EAEAEC;
    background: #FFF;

    /* Typography */
    color: var(--Inactive, #A4A9B4);
    font-family: Aeonik;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.16px;
}

input[type="button"], input[type="submit"] {
    /* Layout */
    display: flex;
    min-width: 158px;
    padding: 18px 50px;
    justify-content: center;
    align-items: center;
    gap: 8px;

    /* Style */
    cursor: pointer;
    border: none;
    border-radius: 12px;
    background: var(--button);
    box-shadow: 0px 0px 8px 0px rgba(51, 153, 253, 0.24);

    /* Typography */
    color: var(--Text-White, #FFF);
    text-align: center;
    font-family: Aeonik;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.18px;
}

/* Welcome Page */

#welcome-content {
    max-width: 900px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 50px;
}

#wc_text {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#wc_text h1 {
    text-wrap: balance;
}

#wc_text-paragraphs {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

#wc_ctas {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

#wc_ctas_keypress-indicator {
    color: #000;
    text-align: center;
    font-family: "Nunito Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.14px;
    display: flex;
    align-items: center;
}

#wc_ctas_keypress-indicator img {
    margin-left: 10px;
    margin-right: 6px;
}

/* About You */

#about-you-content {
    display: flex;
    width: 510px;
    padding: 30px;
    padding-bottom: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

#ayc_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

#ayc_form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    align-self: stretch;
}

/* Project Details */

#project-details-content {
    max-width: 665px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 50px;
}

/* --------------------- */
/*  Mobile Optimisation  */
/* --------------------- */

@media only screen and (max-width: 600px) {

    /* Global Styles */

    h1 {
        font-size: 28px;
        line-height: 34px;
    }

    body {
        height: 90vh;
    }

    /* Welcome Page */

    #welcome-content {
        padding: 10px 30px;
    }

    #wc_ctas_keypress-indicator {
        display: none;
    }

}